@tailwind base;
@tailwind components;
@tailwind utilities;



  @layer base {
    .navLink{
      @apply hover:text-blue-500 cursor-pointer transition-all ease-in-out duration-200 active:text-blue-600 
    }
  }

  body {
    font-family: 'Nunito', sans-serif;

  }

  .bg-img {
    background-image: url("./assets/Images/nasa-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .bg-img-2 {
    background-image: url("./assets/Images/Digital-Earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    ;
  }

  header nav a.active {
    color: rgb(0, 136, 255);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }