@tailwind base;
@tailwind components;
@tailwind utilities;



  @layer base {
    .navLink{
      @apply hover:text-blue-500 cursor-pointer transition-all ease-in-out duration-200 active:text-blue-600 
    }
  }

  body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
  }

  .bg-img {
    background-image: url("./assets/Images/nasa-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .bg-img-2 {
    background-image: url("./assets/Images/Digital-Earth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    ;
  }